.h1, h1 {
font-size: 48px;
text-align: center;
font-family: 'Titillium Web', sans-serif;
}

.h2, h2 {
font-family: 'Abel', sans-serif;
font-weight: 500;
line-height: 1.1;
color: #4E4E4E;
background-color: #FFFF85;
padding-top: 5px;
padding-bottom: 0px;
padding-left: 5px;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
font-family: 'Abel', sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
}

.navbar-default {
background-color: #FFF;
border-color: #FFF;
font-family: 'Titillium Web', sans-serif;
}

.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #4E4E4E;
background-color: #FFFF85;
}

.navbar-brand {
float: left;
height: 50px;
padding: 15px 15px;
font-size: 14px;
line-height: 20px;
}


.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

body {
font-family: "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-image: url("http://i61.tinypic.com/70djj8.jpg");
}

.row {
margin-right: -15px;
margin-left: -15px;
background-color: #FFF
}

.btn-primary {
color: #4E4E4E;
background-color: #BBE6F7;
border-color: #BBE6F7;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
color: #4E4E4E;
background-color: #89D5F2;
border-color: #89D5F2;
}

button, input, select, textarea {
font-family: 'Abel', sans-serif;
font-size: inherit;
line-height: inherit;
}

p.italic {
    font-style: italic;
}

p.thick {
    font-weight: bold;
}

